<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user</title>
<script th:src="@{/js/jquery/jquery-3.4.1.js}"></script>
<script th:src="@{/js/user.js}"></script>
</head>
<body>
	<button id="insert">新建</button>
	</br>
	</br>
	<button id="getUser">主键查询</button>
	</br>
	</br>
	<button id="getUsers">条件查询</button>
	</br>
	</br>
	<button id="update">更新</button>
	</br>
	</br>
	<button id="updatepatch">更新部分</button>
	</br>
	</br>
	<button id="delete">删除</button>
	</br>
	</br>
</body>
</html>