<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery/jquery-3.4.1.js}"></script>
<script th:src="@{/js/user/user.js}"></script>
</head>
<body>
	<button id="insert">新建</button><br/>
	<input type="text" id="id"></input>
	<button id="findById">主键查询</button><br/>
	<button id="findUsers">条件查询</button><br/>
	<button id="findUsers2">条件查询2</button><br/>
	<button id="updateById">主键更新</button><br/>
	<button id="deleteById">主键删除</button><br/>
</body>
</html>