<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MPV1</title>
<!-- 加载Query文件-->
<script src="https://code.jquery.com/jquery-3.2.0.js">
</script>
<script type="text/javascript">
	$(function() {
		var params = {
			id:null,
			name:'z',
			note:'数据验证',
			sex:4,
			birthday:'2020-01-01',
			fut:'2019-01-01',
			yue:2000,
			email:'qweertrty',
			rang:30
		};
		var params2 = {
			id:'3',
			name:'zhangsan',
			note:'数据验证',
			sex:2,
			birthday:'2000-01-01',
			fut:'2025-01-01',
			yue:501.01,
			email:'6442342@qq.com',
			rang:10
		};
		$("#button").click(function() {
			$.post({
// 				url : "/mvcparamvalidate/mpv2",
				url : "/mvcparamvalidate/mpv3",
				// 此处需要告知传递参数类型为JSON，不能缺少
				contentType : "application/json",
				// 将JSON转化为字符串传递
				data : JSON.stringify(params),
				// 成功后的方法
				success : function(result) {
					if(result != null){
// 						alert("参数传递成功，用户名="+result.name);
					}
				}
			});
		});
	});
</script>
</head>
<body>
	<button id="button">按钮</button>
</body>
</html>